nav ul a{
    color: aqua;
    list-style-type: none;
    font-size: 17px;
    text-transform: uppercase;
}

ul a{
    display: inline-flex;
}

nav ul a:hover{
    background-color: whitesmoke;
    padding: 3px;
    transition: .5s;
}